{% extends 'mood_trackers/base.html' %}
{% block content %}
<hr>
<div class="row">
    <div class="col">
        <div class="mt-4 p-5 text-light rounded-3 shadow-sm" style="background-color: rgb(13, 73, 113);">
            <p>Send us an email at moodlunatique@gmail.com <br>If there is any writing material that you want to submit in the resource library <br>
                We will get back to you as soon as possible.<br>
            </p>
        </div>
    </div>
</div>
{% endblock %}