{% extends 'mood_trackers/inner_page.html' %}



{% block inner_page %}
<div class="mx-auto w-50 mt-5 pt-3">
  <div class="col-lg-12  bg-light rounded-1">
    <h5 class="comment-title"><centre>Login, your clients are dying to meet you</centre></h5>
    <div class="row">
      <form action="{% url 'Users:therapist_login' %}"  method="POST">
        {% csrf_token %}
        <input class="form-control"  type="email" name="email" placeholder="Email">
        <input class="form-control" type="password" name="password" placeholder="Password">
        <input class="btn btn-primary"type="submit" value="Login">
      </form>
    </div>
  </div>
</div>
{% endblock %}